{% extends 'base.html.twig' %}

{% block title %}Connexion !{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 col-sm-12 mb-4">
            <h1 class="h3 mb-3 font-weight-normal text-center">Connexion</h1>
            
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté en tant que {{ app.user.userIdentifier }},
                    <a href="{{ path('app_logout') }}">Se Déconnecter</a>
                </div>
            {% else %}
                <form method="post">
                    <div class="form-group">
                        <label for="inputEmail">Saisissez votre adresse Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    </div>

                    <!-- Checkbox Remember Me -->
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="remember_me" name="_remember_me" value="on">
                        <label class="form-check-label" for="remember_me">Se souvenir de moi</label>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button class="btn btn-lg btn-primary w-100 mb-3" type="submit">Connexion</button>
                    <div class="text-center">
                        <a href="/reset-password">Mot de passe oublié ?</a><br>
                        Vous n'avez pas de compte? <a href="/register">Inscrivez-vous</a>
                    </div>
                </form>
            {% endif %}
        </div>
        <div class="col-md-6 col-sm-12 text-center">
            <img class="illustration-img img-fluid" src="assets/images/login.svg" alt="Page de connexion">
        </div>
    </div>
</div>


{% endblock %}
