{% extends 'base.html.twig' %}

{% block title %}Commentaires
{% endblock %}

{% block body %}
	<h1>Commentaires</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ commentaire.id }}</td>
			</tr>
			<tr>
				<th>Recette</th>
				<td>{{ commentaire.recette }}</td>
			</tr>
			<tr>
				<th>Contenu</th>
				<td>{{ commentaire.contenu }}</td>
			</tr>
			<tr>
				<th>Date</th>
				<td>{{ commentaire.date ? commentaire.date|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_admin_commentaire_index') }}">Retour</a>

	{{ include('admin_commentaire/_delete_form.html.twig') }}
{% endblock %}
