<footer class="footer-custom" style="background-color: #faf3e0;">
	<div class="container-fluid">
		<div class="footer-custom">
			<ul class="nav justify-content-center">
				<li class="">
					<a href="{{ path('app_apropos') }}" class="nav-link px-2 fs-6">• À propos</a>
				</li>
				<li class="">
					<a href="{{ path('app_contact') }}" class="nav-link px-2 fs-6">• Contactez-nous</a>
				</li>
				<li class="">
					<a href="{{ path('app_politique_de_confidentialit_') }}" class="nav-link px-2 fs-6">• Politique de confidentialité</a>
				</li>
				<li class="">
					<a href="{{ path('app_cgu') }}" class="nav-link px-2 fs-6">• CGU</a>
				</li>
				<li class="">
					<a href="{{ path('app_rgpd') }}" class="nav-link px-2 fs-6">• RGPD</a>
				</li>
			</ul>
			<p class="text-center text-muted">&copy;
				<script>
					document.write(new Date().getFullYear());
				</script>
				Mon Carnet de recettes - Tous droits réservés
			</p>
		</div>
	</div>
</footer>
