{{ form_start(form, {'attr': {'class': 'my-comment-form bg-light p-4 rounded shadow-sm'}}) }}

{% for child in form.children %}
    <div class="form-group mb-3">
        {{ form_label(child, null, {'label_attr': {'class': 'form-label'}}) }}
        {% if child.vars.block_prefixes[1] == 'textarea' %}
            {{ form_widget(child, {'attr': {'class': 'form-control', 'rows': '5'}}) }}
        {% else %}
            {{ form_widget(child, {'attr': {'class': 'form-control'}}) }}
        {% endif %}
        {{ form_errors(child) }}
    </div>
{% endfor %}

<button class="btn btn-primary">{{ button_label|default('Envoyer le commentaire') }}</button>

{{ form_end(form) }}
