{% extends 'base.html.twig' %}

{% block title %}Recette index{% endblock %}

{% block body %}
    <h1>Recette index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Temps_de_preparation</th>
                <th>Temps_de_cuisson</th>
                <th>Difficulte</th>
                <th>Ingredient</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recette in recettes %}
            <tr>
                <td>{{ recette.id }}</td>
                <td>{{ recette.titre }}</td>
                <td>{{ recette.description }}</td>
                <td>{{ recette.tempsDePreparation }}</td>
                <td>{{ recette.tempsDeCuisson }}</td>
                <td>{{ recette.difficulte }}</td>
                <td>{{ recette.ingredient }}</td>
                <td>
                    <a href="{{ path('app_admin_recette_show', {'id': recette.id}) }}">show</a>
                    <a href="{{ path('app_admin_recette_edit', {'id': recette.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_recette_new') }}">Create new</a>
{% endblock %}
